.no-padding-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.no-padding-top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}
.no-padding {
	margin: 0 !important;
	padding: 0 !important;
}
span button[disabled] {
	cursor: not-allowed !important;
}