/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/_resources/
/public/_resources/
.DS_Store
bower_components
node_modules
npm-debug.log
.idea
.idea/
.idea/workspace.xml
ss_error.log
/.htaccess
/public/.htaccess
/composer.lock
public/robots.txt
public/assets/.htaccess
.env.example
